<% include partials/header %>
<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <div class="container">

    </div>


  </div>

</div>


<% include partials/footer %>
<!DOCTYPE html>
